body {
    padding-top: 65px;
    padding-bottom: 20px;
    background-color: #f4f5f5;
    padding-bottom: 0px;
}

.whiteBlock {
    background-color: #FFF;
    padding: 20px;
    margin: 10px -8px 0 -8px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

a, .btn-link {
    color: #3b86d8;
}

.myIcon {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.vh-85 {
    height: 85vh;
}

.vh-65 {
    height: 65vh;
}

.max-vh-65 {
    max-height: 65vh;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/
